
div {
    border: 1px #333 solid;
}

section {
    background-color: lightgray;
    padding: 80px 40px;

}

img {
    /* width: 100%; */
}


.card {
    width: 250px;
}

.img-card {
    width: 100%;
}

.img-feat {
    width: 80px;
    height: 80px;
    border-radius: 50px;
}


#hero {
    background-image: url('../img/fahmi-fakhrudin-nzyzAUsbV0M-unsplash.jpg');
    background-size: cover;
    height: 30vh;
    text-align: center;
}